<library path="lib/libline_tracker_min_jerk_action">
  <class name="std_trackers/LineTrackerMinJerkAction" type="LineTrackerMinJerkAction" base_class_type="trackers_manager::Tracker">
    <description>
      This is a controller which follows a line from the current position to a given goal position using min jerk trajectory.
    </description>
  </class>
</library>
<library path="lib/libline_tracker_trapezoid">
  <class name="std_trackers/LineTrackerTrapezoid" type="LineTrackerTrapezoid" base_class_type="trackers_manager::Tracker">
    <description>
      This is a controller which follows a line from the current position to a given goal position using a trapezoidal trajectory.
    </description>
  </class>
</library>
<library path="lib/libline_tracker_distance_action">
  <class name="std_trackers/LineTrackerDistanceAction" type="LineTrackerDistanceAction" base_class_type="trackers_manager::Tracker">
    <description>
      This is a controller which follows a line from the current position to a given goal position using a trapezoidal trajectory with distance along the trajectory as the parameter instead of time.
    </description>
  </class>
</library>
<library path="lib/libline_tracker_yaw">
  <class name="std_trackers/LineTrackerYaw" type="LineTrackerYaw" base_class_type="trackers_manager::Tracker">
    <description>
      This is a controller which follows a trapezoidal trajectory to a desired yaw.
    </description>
  </class>
</library>

<library path="lib/libnull_tracker">
  <class name="std_trackers/NullTracker" type="NullTracker" base_class_type="trackers_manager::Tracker">
    <description>
      This controller literally does nothing.
    </description>
  </class>
</library>

<library path="lib/libvelocity_tracker_action">
  <class name="std_trackers/VelocityTrackerAction" type="VelocityTrackerAction" base_class_type="trackers_manager::Tracker">
    <description>
      This controller commands a desired velocity for the robot.
    </description>
  </class>
</library>
