[submodule "quadrotor_simulator/include/odeint-v2"]
  path = quadrotor_simulator/include/odeint-v2
  url = git@github.com:headmyshoulder/odeint-v2.git
[submodule "asio_serial_device"]
  path = asio_serial_device
  url = git@github.com:KumarRobotics/asio_serial_device.git
  branch = rosbuild
