<launch>
  <arg name="mav_name" default="quadrotor"/>
  <arg name="mav_type" default="hummingbird"/>
  <arg name="odom_topic" default="odom"/>

  <arg name="color/r" default="0.0"/>
  <arg name="color/g" default="0.0"/>
  <arg name="color/b" default="1.0"/>
  <arg name="color/a" default="0.7"/>

  <node pkg="kr_mesh_visualization"
    type="kr_mesh_visualization"
    name="mesh_visualization"
    output="screen">
    <param name="mesh_resource" value="package://kr_mesh_visualization/mesh/$(arg mav_type).mesh"/> <!-- TODO add meshes for crazyflie, dragonfly, etc -->
    <param name="color/r" value="$(arg color/r)"/>
    <param name="color/g" value="$(arg color/g)"/>
    <param name="color/b" value="$(arg color/b)"/>
    <param name="color/a" value="$(arg color/a)"/>
    <remap from="~input" to="$(arg odom_topic)"/>
  </node>
</launch>
