<launch>
  <node pkg="nodelet"
    type="nodelet"
    name="standalone_nodelet"
    args="manager"
    output="screen"/>

  <node pkg="nodelet"
    type="nodelet"
    name="controllers_manager"
    args="load controllers_manager/ControllersManager standalone_nodelet"
    output="screen">
    <rosparam file="$(find controllers_manager)/config/controllers.yaml"/>
    <rosparam file="$(find so3_control)/config/gains.yaml"/>
    <remap from="~odom" to="odom"/>
  </node>
</launch>
