<launch>

  <include file="$(find rosflight_example)/launch/example.launch">
    <arg name="name" value="quadrotor1"/>
  </include>

  <include file="$(find rosflight_example)/launch/example.launch">
    <arg name="name" value="quadrotor2"/>
  </include>

  <include file="$(find rosflight_example)/launch/example.launch">
    <arg name="name" value="quadrotor3"/>
  </include>

  <include file="$(find rosflight_example)/launch/example.launch">
    <arg name="name" value="quadrotor4"/>
  </include>

  <include file="$(find rosflight_example)/launch/example.launch">
    <arg name="name" value="quadrotor5"/>
  </include>

</launch>
