<launch>
  <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="mesh_visualization"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/mesh/hummingbird.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="1.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~input" to="/robot1/odom"/>
  </node>
</launch>
