<launch>
  <node pkg="quad_serial_comm"
    type="quad_serial_comm"
    name="quad_serial_comm"
    output="screen">
    <param name="device" value="/dev/ttyUSB0"/>
    <param name="baud_rate" value="57600"/>
    <remap from="~to_robot" to="to_robot"/>
    <remap from="~from_robot" to="from_robot"/>
  </node>
</launch>
