<launch>
  <arg name="model" default="quadrotor"/>
  <arg name="robot_type" default="hummingbird"/>

  <node pkg="quadrotor_simulator"
    type="quadrotor_simulator_so3"
    name="quadrotor_simulator_so3"
    output="screen">
    <rosparam file="$(find quadrotor_simulator)/config/$(arg robot_type)_params.yaml"/>
    <param name="rate/odom" value="100.0"/>
    <remap from="~odom" to="odom"/>
    <remap from="~imu" to="imu"/>
    <remap from="~cmd" to="so3_cmd"/>
    <param name="quadrotor_name" value="$(arg model)"/>
  </node>

  <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="mesh_visualization"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/mesh/hummingbird.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="1.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~input" to="odom"/>
  </node>

</launch>
