<launch>
  <node pkg="quadrotor_simulator"
    type="quadrotor_simulator_so3"
    name="quadrotor_simulator_so3"
    output="screen"
    clear_params="true">
    <rosparam file="$(find quadrotor_simulator)/config/hummingbird_params.yaml"/>
    <param name="rate/odom" value="100.0"/>
    <remap from="~odom" to="odom"/>
    <remap from="~imu" to="imu"/>
    <remap from="~cmd" to="so3_cmd"/>
  </node>
</launch>
