<launch>
  <arg name="input" default="/quadrotor/odom"/>
  <arg name="new_frame_id" default=""/>

  <node pkg="kr_mesh_visualization"
    type="kr_mesh_visualization"
    name="mesh_visualization"
    output="screen">
    <param name="mesh_resource" value="package://kr_mesh_visualization/mesh/hummingbird.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="1.0"/>
    <param name="color/a" value="0.7"/>
    <param name="new_frame_id" value="$(arg new_frame_id)"/>
    <remap from="~input" to="$(arg input)"/>
  </node>
</launch>
