<launch>

  <arg name="slow_baud_rate"/>
  <arg name="start_nodelet_manager" default="false"/>
  <arg name="nodelet_manager_name" default="nodelet_manager"/>
  <arg name="device" default="/dev/ttyUSB0"/>

  <!-- Arguments for running quad_serial_comm on a remote machine -->
  <arg name="remote" default="false"/>
  <arg name="address" default="overo4.mrsl"/>

  <node pkg="nodelet"
    type="nodelet"
    name="$(arg nodelet_manager_name)"
    args="manager"
    output="screen"
    if="$(arg start_nodelet_manager)"/>

  <!-- Run quad_serial_comm locally -->
  <node pkg="nodelet"
    type="nodelet"
    name="quad_serial_comm"
    args="load quad_serial_comm/QuadSerialComm $(arg nodelet_manager_name)"
    output="screen"
    unless="$(arg remote)">
    <param name="device" value="$(arg device)"/>
    <param name="baud_rate" value="57600" if="$(arg slow_baud_rate)"/>
    <param name="baud_rate" value="230400" unless="$(arg slow_baud_rate)"/>
    <remap from="~to_robot" to="to_robot"/>
    <remap from="~from_robot" to="from_robot"/>
  </node>

  <!-- Run quad_serial_comm on a remote machine -->
  <machine name="$(arg address)" address="$(arg address)" env-loader="/root/env.sh" user="root" password="root" timeout="20" if="$(arg remote)"/>
  <node machine="$(arg address)"
      pkg="nodelet"
      type="nodelet"
      name="quad_serial_comm"
      args="standalone quad_serial_comm/QuadSerialComm"
      output="screen"
      if="$(arg remote)">
    <param name="device" value="/dev/ttyO0"/>
    <param name="baud_rate" value="230400"/>
    <remap from="~to_robot" to="to_robot"/>
    <remap from="~from_robot" to="from_robot"/>
  </node>

  <node pkg="nodelet"
    type="nodelet"
    name="quad_encode_msg"
    args="load quad_encode_msg/QuadEncodeMsg $(arg nodelet_manager_name)"
    output="screen">
    <remap from="~so3_cmd" to="so3_cmd"/>
    <remap from="~serial_msg" to="to_robot"/>
  </node>

  <node pkg="nodelet"
    type="nodelet"
    name="quad_decode_msg"
    args="load quad_decode_msg/QuadDecodeMsg $(arg nodelet_manager_name)"
    output="screen">
    <remap from="~serial" to="from_robot"/>
  </node>

</launch>
