<launch>

  <arg name="model" default="quadrotor"/>
  <arg name="sim" default="1"/>
  <arg name="vicon" default="1"/>
  <arg name="vicon_fps" default="100"/>
  <arg name="slow_baud_rate" default="true"/>
  <arg name="mass" default="0.5"/>

  <!-- Launch vicon odometry node -->
  <group if="$(arg vicon)">
    <include file="$(find vicon)/launch/vicon.launch" unless="$(arg sim)"/>
    <include file="$(find vicon_odom)/launch/vicon_odom.launch" unless="$(arg sim)">
      <arg name="model" value="$(arg model)" />
      <arg name="vicon_fps" value="$(arg vicon_fps)"/>
    </include>
  </group>

  <group ns="$(arg model)">

    <param name="mass" value="$(arg mass)"/>

    <rosparam file="$(find mav_manager)/config/params.yaml"/>

    <node pkg="quadrotor_simulator"
      type="quadrotor_simulator_so3"
      name="quadrotor_simulator_so3"
      output="screen"
      clear_params="true"
      if="$(arg sim)">
      <rosparam file="$(find quadrotor_simulator)/config/hummingbird_params.yaml"/>
      <param name="rate/odom" value="100.0"/>
      <remap from="~odom" to="odom"/>
      <remap from="~imu" to="imu"/>
      <remap from="~cmd" to="so3_cmd"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      name="standalone_nodelet"
      args="manager"
      output="screen"/>

    <rosparam file="$(find so3_control)/config/gains.yaml"/>

    <node pkg="nodelet"
      type="nodelet"
      name="trackers_manager"
      args="load trackers_manager/TrackersManager standalone_nodelet"
      clear_params="true"
      output="screen">
      <rosparam file="$(find trackers_manager)/config/trackers.yaml"/>
      <remap from="~odom" to="odom"/>
      <remap from="~cmd" to="position_cmd"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      args="load so3_control/SO3ControlNodelet standalone_nodelet"
      name="so3_control"
      required="true"
      clear_params="true"
      output="screen">
      <remap from="~odom" to="odom"/>
      <remap from="~position_cmd" to="position_cmd"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~motors" to="motors"/>
      <remap from="~set_mass" to="set_mass"/>
    </node>

    <node pkg="mesh_visualization"
      type="mesh_visualization"
      name="mesh_visualization"
      output="screen"
      if="$(arg sim)">
      <param name="mesh_resource" value="package://mesh_visualization/mesh/hummingbird.mesh"/>
      <param name="color/r" value="0.0"/>
      <param name="color/g" value="0.0"/>
      <param name="color/b" value="1.0"/>
      <param name="color/a" value="0.7"/>
      <remap from="~input" to="odom"/>
    </node>

    <!-- For serial communication -->
    <node pkg="nodelet"
      type="nodelet"
      name="quad_serial_comm"
      args="load quad_serial_comm/QuadSerialComm standalone_nodelet"
      output="screen"
      unless="$(arg sim)">
      <param name="device" value="/dev/ttyUSB0"/>
      <param name="baud_rate" value="57600" if="$(arg slow_baud_rate)"/>
      <param name="baud_rate" value="230400" unless="$(arg slow_baud_rate)"/>
      <remap from="~to_robot" to="to_robot"/>
      <remap from="~from_robot" to="from_robot"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      name="quad_encode_msg"
      args="load quad_encode_msg/QuadEncodeMsg standalone_nodelet"
      output="screen"
      clear_params="true"
      unless="$(arg sim)">
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~serial_msg" to="to_robot"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      name="quad_decode_msg"
      args="load quad_decode_msg/QuadDecodeMsg standalone_nodelet"
      output="screen"
      clear_params="true"
      unless="$(arg sim)">
      <remap from="~serial" to="from_robot"/>
    </node>

    <include file="$(find mav_manager)/launch/manager.launch"/>

  </group>
</launch>
