<launch>

  <arg name="device" default="/dev/ttyUSB0"/>
  <arg name="baud_rate" default="230400"/>

  <include file="$(find quad_serial_comm)/launch/test.launch">
    <arg name="device" value="$(arg device)"/>
    <arg name="baud_rate" default="$(arg baud_rate)"/>
  </include>

   <node pkg="nodelet"
    type="nodelet"
    name="quad_decode_msg"
    args="standalone quad_decode_msg/QuadDecodeMsg"
    output="screen">
    <remap from="~serial" to="from_robot"/>
  </node>
</launch>
