<launch>
  <node pkg="nodelet"
    type="nodelet"
    name="kquad_interface"
    args="standalone kquad_interface/kQuadInterfaceNodelet"
    output="screen">
    <param name="serial_device" value="/dev/ttyUSB0"/>
    <param name="serial_baud_rate" value="921600"/>
    <rosparam param="ids">[20]</rosparam>
    <rosparam param="types">[0]</rosparam>
    <rosparam param="channels">[1]</rosparam>
  </node>
</launch>
