name: Reviewdog
on: [pull_request]

jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: reviewdog/action-cpplint@master
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        flags: --linelength=120 # Optional
        # filter: "-readability/braces\
        #   ,-whitespace/braces\
        #   ,-whitespace/comments\
        #   ,-whitespace/indent\
        #   ,-whitespace/newline\
        #   ,-whitespace/operators\
        #   ,-whitespace/parens\
        #   " # Optional
